*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

app/src/main/java/fr/utc/simde/payutc/admin rights

app/src/main/java/fr/utc/simde/payutc/full rights

app/src/main/java/fr/utc/simde/payutc/no rights
.gitignore